
@using Recyclops.Web.Models.Common.Modals
@using Recyclops
@model Recyclops.Web.Models.LocationSource.LocationSourceViewModel

@{
    Layout = null;
}


@HtmlHelperPartialExtensions.Partial(Html, "~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.Id == 0 ? "Add Location Source" : "Edit Location Source"))
<div class="modal-body">
    <form id="LocationSourceForm" name="createForm" role="form" class="form-validation">
        <input asp-for="Id" type="hidden" />

        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label asp-for="Name">Name</label>
                        <input type="text" asp-for="Name" required class="validate form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label asp-for="City">City</label>
                        <input type="text" asp-for="City" required class="validate form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label asp-for="State">State</label>
                        <select id="states" type="text" asp-for="State" asp-items="Html.GetEnumSelectList<Enums.State>()" required class="validate form-control"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label asp-for="Address">Address</label>
                        <input type="text" asp-for="Address" required class="validate form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label asp-for="Zip">Zip</label>
                        <input type="text" asp-for="Zip" required class="validate form-control" />
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<environment names="Development">
    <script src="~/view-resources/Views/LocationSource/_Modal.js" asp-append-version="true"></script>
</environment>