@using Recyclops.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About Recyclops
                </h2>
            </div>
            <div class="body">
                <p>
                    INFO HERE.
                </p>

                <h3>Who is Recyclops?</h3>

                <p>
                    INFO HERE.
                </p>

                <p>
                    INFO HERE. <strong>INFO HERE.</strong>
                </p>
                
                <h3>What Do We do?</h3>

                <p>
                    INFO HERE.
                </p>
                <p>
                    INFO HERE.
                </p>
                <p>
                    INFO HERE.
                </p>

                <h4>INFO HERE.</h4>

                <p>
                    INFO HERE.
                </p>

                <h3>INFO HERE.</h3>
                
                <ul>
                    <li>
                        INFO HERE.
                    </li>
                    <li>
                        INFO HERE.
                    </li>
                </ul>

                <h3>Source code</h3>

                <p>
                    INFO HERE.
                </p>
            </div>
        </div>
    </div>
</div>
