@using Recyclops.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Questions and Concerns from <strong>YOUR FEEDBACK!</strong>
                </h2>
            </div>
            <div class="body">
                <h4>Why is this section Present?</h4>

                <p>
                    There seems to be a lot of confusion about how exactly how this company works and the technologies that it uses. This can be seen in the reflected grade from y'all (yes we read them). So we're going to clearify all the questions y'all didn't ask but took points off for them anyway :)
                </p>

                <h3>From phase 1:</h3>

                <p>
                    <strong>We would recommend a plan of action for how the sorting process works for your company.</strong>
                    <br>We got one, and it's quite simple! We'd be happy to pay the recycling/trash facilities for the material already sorted for us. If this isn't an option, we'd be happy to hiring chemical engineers that take best practices in identifying different chemically composed plastics, to implement a sorting method.
                </p>
                <p>
                    <strong>We would’ve improvised on more of the specifics over what the domain covers. </strong>
                    <br>Sorry we didn't get more into the specifics! But you should be able to get a better understanding in this presentation! and if not <strong>PLEASE ASK A QUESTION!</strong>
                </p>

                <h3>From phase 2:</h3>

                <p>
                    <strong>Literally anything over the visuals.</strong>
                    <br>We promise the presentations were tested on projector screens and could be seen(at least the highlights we need you to see) from roughly 30 feet away. We weren't the ones who merged everything into one powerpoint. 
                </p>

                <p>
                    <strong>Some Confusion about weak entities</strong>
                    <br>The weak entity for URL for the location was set as not unique, because it is made from user input, and to eliminate the ambiguity of unique values from user input. 
                </p>
                <p>
                    <strong>The PowerPoint was cute! However, a lot of the colors made the text hard to read on a projector. Not a lot of enthusiasm when speaking but you guys had a good pace. Diagrams are easy to follow, so that’s good. Mentioned what technologies you’ll use, very nice. A lot of the idea has some weirdly unnecessary stuff. The project makes little to no sense, still. 3D printing doesn’t use recyclable material, plus the business operations are far too vague. This is strange since many people a part of the group seem to be working in this industry. Overall, this project still is not clear, data collection is vague, and the way the data interacts with each other still is confusing, but the PowerPoint looks cool.</strong>
                </p>
                <p>
                    INFO HERE.
                </p>


            </div>
        </div>
    </div>
</div>